header {
    font-family: Arial, sans-serif;
    margin: 0;
    text-indent: 20px;
    background: #6d9cdd;
    display: flex;
    flex-direction: column;
    min-height: 1vh; 
}

.hero {
    flex: 1; 
    text-align: center;
    background: #f4f4f4;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 10px ;
}